/* Aumenta el ancho de la tarjeta y reduce los márgenes izquierdo y derecho */
/* Aumenta el ancho de la tarjeta y reduce los márgenes izquierdo y derecho */
.custom-card {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 20px; /* Margen izquierdo personalizado */
    margin-right: 20px; /* Margen derecho personalizado */
    max-width: calc(100% - 40px); /* Ancho máximo personalizado con márgenes incluidos */
}
  
/* Aumenta el tamaño del título de la tarjeta */
  .custom-card-title {
    font-size: 1.5rem; /* Tamaño de fuente personalizado */
    color: #333;
}
  
/* Aumenta el tamaño del botón y el espaciado */
.custom-btn {
    background-color: #ff6600;
    color: #fff;
    font-size: 1rem; /* Tamaño de fuente personalizado para el botón */
    padding: 10px 20px; /* Espaciado personalizado para el botón */
}